//@import '../../styles/scss/parts/mixin';

.projects {
  /*border: 1px solid;*/
  /*height: 100vh;*/
  /*min-height: 100vh;*/
  //background-color: #f7f7ff;

  //@include changeBgColor();


  .projectsList {
    /*border: 1px solid;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: flex-start;
    @media (max-width: 1018px) {
      justify-content: center;
    }
  }
}


/*@media (max-width: 1004px) {
  .projectsList {
    justify-content: center;
  }
}*/

/*
@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 480px) and (max-width: 767px) {

}

@media (min-width: 320px) and (max-width: 479px) {

}

@media (max-width: 320px) {

}
*/

/*
!* Large desktops and laptops *!
@media (min-width: 1200px) {

}

!* Landscape tablets and medium desktops *!
@media (min-width: 992px) and (max-width: 1199px) {

}

!* Portrait tablets and small desktops *!
@media (min-width: 768px) and (max-width: 991px) {

}

!* Landscape phones and portrait tablets *!
@media (max-width: 767px) {

}

!* Portrait phones and smaller *!
@media (max-width: 480px) {

}

!* Iphone 5 *!
@media (max-width: 320px) {

}
*/
