.projects {
    /*border: 1px solid;*/
    /*height: 100vh;*/
    min-height: 100vh;
    background-color: #45ffdd;
}

.container {
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: #fc5b81;
}

.projectsList {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*align-items: center;*/
}