.freelance {
    background-color: #0a2eef;
    min-height: 100px;
}

.container {
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: #d368f6;
    /*font-size: 2em;*/
    /*margin-bottom: 20px;*/
}